@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
    --color1: #eac473;
    --color2: #000000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000000;
    color: #eec65c;
    min-height: 100vh;
    background: linear-gradient(#051f30, #000000);
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 5.3125rem;
    height: 100%;
    transition: 0.3s;
    scrollbar-width: none;
    overflow: hidden scroll;
    background: #ffffff12;
    -ms-overflow-style: none;
    padding: 3.75rem 1.25rem 1.25rem 0;
    backdrop-filter: blur(0.3125rem);
    box-shadow: 0.5rem 0 0.5625rem 0 #00000014;
    z-index: 1000;
}

.menu:hover {
    width: 16.25rem;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    border-radius: 0 3.125rem 3.125rem 0;
    transition: 0.3s;
    margin-bottom: 1.25rem;
    padding: 1.25rem 0 1.25rem 1.25rem;
    margin-top: 3.125rem;
}

.menu-content li:hover {
    background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}

.material-symbols-outlined {
    padding: 0.625rem;
    font-size: 1.5625rem;
    margin-right: 0.625rem;
    border-radius: 50%;
    background: #0c0c0c;
}

.mainP {
    position: absolute;
    background-color: var(--color1);
    width: 26%;
    height: 40%;
    right: 6.875rem;
    top: 15rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

@media (min-height: 1080px) {
    .mainP {
        position: absolute;
        background-color: var(--color1);
        width: 26%;
        height: 40%;
        right: 6.875rem;
        top: 6.25rem;
        border-radius: 1.25rem;
        display: flex;
        align-items: end;
        justify-content: center;
    }
}

.mainP .person {
    z-index: 2;
    padding-left: 0.625rem;
    width: 70%;
    height: 90%;
    pointer-events: none;
}

.h1Back {
    background-color: var(--color1);
    width: 17.5%;
    height: 3.125rem;
    border-radius: 0.625rem;
    opacity: 30%;
    z-index: 1;
    position: relative;
}

.about-me {
    position: relative;
    top: 15rem;
    left: 10%;
    color: white;
}

.about-me h1 {
    margin-top: -3.375rem;
    font-size: 1.5625rem;
    padding: 0.9375rem;
    color: white;
    z-index: 2;
    position: relative;
}

.about-me p {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1.25rem;
    line-height: 1.5;
    text-align: left;
    width: 40%;
}

.about-me p span {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color1);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25vh;
}

@media (min-height: 1080px) {
    .content {
        margin-top: 5vh;
    }
}

#more-arrows {
    width: 75px;
    height: 65px;
}

#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}

polygon {
    fill: #FFF;
    transition: all 0.2s ease-out;
}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}

#stacks {
    text-align: center;
    padding: 1.25rem;
    margin: 23.8% 0 0 10%;
    max-width: 80%;
    position: relative;
}

#stacks h2 {
    font-size: 2rem;
    color: var(--color1);
    margin-bottom: 1.875rem;
}

.stack-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: transform 0.3s;
}

.stack img {
    width: 3.75rem;
    height: 3.75rem;
    margin-bottom: 0.625rem;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem #00000050);
}

.stack span {
    font-size: 0.9rem;
}

.stack:hover {
    transform: scale(1.1);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 9.375rem;
    z-index: 1;
    font-weight: bold;
    font-size: 0.625rem;
}

.dropdown li {
    padding: 0.625rem;
    background-color: var(--color1);
    border-bottom: 1px solid var(--color2);
    white-space: nowrap;
    border-radius: 1.25rem;
}

.dropdown li:hover {
    background-color: #f0bc2e;
}

.skill:hover .dropdown {
    display: block;
}

#projetos {
    position: relative;
    padding: 3.125rem;
    text-align: center;
    margin-top: 6.25rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.25rem;
    text-align: center;
}

.projeto {
    width: 15.625rem;
    color: white;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.projeto img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .projeto img {
        height: auto;
        aspect-ratio: 9/16;
        object-fit: contain;
    }
}

.projeto:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.container a {
    font-size: medium;
    color: var(--color1);
    margin-top: 1.875rem;
}

.tituloProjetos {
    color: var(--color1);
}

footer {
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
    padding: 0.625rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}