@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
    --color1: #1094E9; /* Cor principal */
    --color2: #105ce9;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat';
}

body {
    font-family: Arial, sans-serif;
    background-color: #00101a;
    color: #ff0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100vw;
    overflow: hidden;
}

/* The navigation bar */
.navbar {
    z-index: 1;
    overflow: hidden;
    background-color: var(--color1);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
}

.backgroundIcon {
    position: absolute;
    background-color: #000000;
    width: 70px;
    height: 70px;
    left: 8vh;
    border-radius: 13px;
    top: 8px;
}

.icon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.navMenu {
    width: 60px;
    position: absolute;
    top: 8px;
    right: 8vh;
}

.navMenu div {
    height: 15px;
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    border-radius: 25px;
    transition: 0.3s;
    margin-left: auto;
}

.one {
    width: 60px;
}

.two {
    width: 30px;
}

.three {
    width: 45px;
}

.navMenu:hover div {
    width: 60px;
}

.mainP{
   position: absolute;
   background-color: var(--color1);
   width: 500px;
   height: 500px;
   left: auto;
   right: 10vw;
   top: 30%;
   border-radius: 20px;
}

.mainP .person {
    position: absolute;
    z-index: 2;
    left: auto;
    right: 0vw;
    max-width: 500px;
    max-height: 500px;
}

.h1Back {
    background-color: var(--color1);
    width: 14vw;
    height: 5vh;
    border-radius: 10px;
    opacity: 30%;
}

.about-me {
    width: 50%;
    top: 25rem;
    left: 5vw;
    position: absolute;
    color: white;
}

.about-me h1 {
    position: absolute;
    margin-top: -50px;
    font-size: 20px;
    padding: 15px;
}

.about-me p {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
    width: 40vw;
}

.about-me p span{
    font-size: 40px;
    font-weight: bold;
    color: var(--color1);
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
    width: 40vw;
}

.hab .container {
    position: absolute;
    top: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  
  .hab .skill {
    color:black;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: var(--color1); /* Dourado e laranja */
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .hab .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color2);
  }
  
  .hab .skill img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  
  .hab .skill h3 {
    margin-top: 10px;
    font-size: 16px;
  }
